{% extends 'layout.html.twig' %}

  {% block nav %}
        <h1>Home</h1>
        <ul>
{% if auth %}
          <li><a href="./?action=cerrarsesion">Cerrar Sesion</a></li>
          <li><a href="./?action=listar">Listar</a></li>
          <li><a href="./?action=formadd">Agregar Tarea</a></li>
{% else %}
          <li><a href="./?action=formlogin">Iniciar Sesion</a></li>
{% endif %}

        </ul>

{% endblock %}
{% block container %}

{% for item in errors %}
    {{item}}
{% endfor %}
{% endblock %}
