<!DOCTYPE html>
{% set auth = array["auth"] %}
{% set errors = array["errors"] %}


<html>
    <head>
        <title>Parcial</title>
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block container %}{% endblock %}
    </body>
</html>
